body {
    font-family: Roboto;
    /* background: #8E0E00; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #8E0E00, #1F1C18); */
    background: linear-gradient(0deg, rgb(58, 76, 180) 0%,
                                         rgb(13, 87, 148) 50%,
                                         rgba(69, 194, 252, 0.233) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  #container {
    height: 550px;
    width: 360px;
    margin: 100px auto;
    /* background: #f7f7f7; */
    background: rgb(180, 176, 170);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  
  h1 {
    background: rgb(23, 68, 194);
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    /* padding-left: 20px; */
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold; 
  }
  
  form input[type="text"] {
    width: 90px;
  }
  
  input {
    padding-left: 20px;
  }
  
  #totalBill {
    font-size: 16px;
    /*color: #2980b9;*/
    color: black;
    background-color: #b6b7c4;
    width: 60%;
    padding: 5px 5px 8px 8px;
    border: none;
    border-bottom-color: #111;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-right-color:  #111;
    border-right-style: solid;
    
  }
  
  #totalBill:focus {
    background:#b0b0e4;
    border: 3px solid #2980b9;
    outline: none;
  }
  
  #guests {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 65px;
    color: black;
    background-color: #b6b7c4;
    font-size: 16px;
    border:none;
    border-bottom-color: #111;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-right-color:  #111;
    border-right-style: solid;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #rating {
    padding: 10px 10px 20px 20px;
    margin-left: px;
    font-size: 17px;
    background-color: #b6b7c4;
    border-bottom-color: #111;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-right-color:  #111;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: rgb(49, 96, 228);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #4c2827;
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #finalTip {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    font-family: Arial, bold;
  }
  
  #finalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #finalTip sup {
    font-size: 15px;
    top: -18px;
  }
  
  #finalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }